<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-main.css">
    <title>Main shop</title>
</head>
<body>
    <header>
        <form action="/logout" method="post">
            <button type="submit" class="button-logout">Logout</button>
        </form>
    </header>

    <div class="product-list">
        <div class="product-item">
          <img src="static\images\game_pc.jpg">
          <h3>Product 1</h3>
          <p>Цена: 13900 руб.</p>
          <p>Наличие: 30 шт</p>
          <p>Идентификатор: 796</p>
          <button>Add to Cart</button>
        </div>
    </div>      
</body>
</html>